@import "/src/styles/extend.scss";

div.article-item-preview-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

div.article-item-preview-menu-button-list {
    display: flex;
    width: 100%;
}

a.article-item-preview-menu-link {
    &:not(:last-child) {
        margin-right: 4px;
    }
}

.article-item-preview-menu-svg-icon {
    width: 64px;
    height: 64px;
    object-fit: contain;
    border-radius: 50%;
    background-color: var(--theme-boards-background-accent);
    padding: 12px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--theme-links);
    }
}

.article-item-preview-menu-svg-icon.vercel-icon {
    padding: 4px;
}
